<div class="container">
  <div class="row mt-4">
    <div class="col-10 m-auto">
      <div class="headline">
        <h1 class="title_h1"><strong>About</strong></h1>
      </div>

      <h3>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。</h3>

    </div>
  </div>
</div>