<div class="container">
  <div class="row mt-4">
    <div class="col-10 m-auto">
      <h5 class="text-center">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </h5>
    </div>
  </div>

  <h1>商品一覧</h1>
  <% @items.each do |item| %>
      <div>
        <%= item.image_id %>
      </div>
      <div>
        <%= item.name %>
      </div>
      <div>
        <%= item.price %>円
      </div>
  <% end %>

  <div>
    <%= link_to "全ての商品を見る＞", items_path %>
  </div>
</div>
